{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}

<div id="container" >
<h5>Užsakymų sąrašas </h5>

<form action="" method="post">
    <div class="divider">
        {{ form }}
    </div>
    <div class="divider">
        <button type="submit" class="btn btn-success"> Įvesti </button>
    </div>
</form>
    <div class="divider">
        <a class="btn btn-dark" href="{% url 'order_main' %}" role="button"> Atgal </a>
    </div>
</div>


    {% endblock %}