{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}

<div id="container">
<h5>UŽSAKYMAI</h5>
<p></p>
<div></div>
<a class="btn btn-primary" href="{% url 'order_create' %}" role="button"> Užsakymai </a>

<h1></h1>
<p></p>
<a class="btn btn-secondary" href="{% url 'orderline_create' %}" role="button"> Įvesti užsakymą </a>

<p></p>
<a class="btn btn-secondary" href="{% url 'customer_create' %}" role="button"> Įvesti Klientą </a>

</div>

    {% endblock %}