{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}

<div id="container">
<h5>PREKĖS</h5>
<p></p>
<div></div>
<a class="btn btn-primary" href="{% url 'category_create' %}" role="button"> Įvesti kategoriją </a>

<h1></h1>
<p></p>
<a class="btn btn-secondary" href="{% url 'product_create' %}" role="button"> Įvesti prekę </a>


</div>

    {% endblock %}