{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'income_main' %}">Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'product_main' %}">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'order_main' %}">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=""> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}"> Pradžia </a>
        </li>

        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/">Admin</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

{% endblock %}