{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}

<div id="container">
    <h5>Pajamuoti produktą</h5>

    <form action="" method="post">
    <p></p>
    {{ form.as_p }}
    <button type="submit" class="btn btn-success"> Įvesti </button>

    </form>

    <p></p>
    <div></div>
    <a class="btn btn-dark" href="{% url 'income_main' %}" role="button"> Atgal </a>

</div>


    {% endblock %}