{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}

<div id="container" >
<h5>Pajamavimai</h5>

    <div class="divider">
        {{ form }}
    </div>
    <div class="divider">
        <button type="submit" class="btn btn-success"> Įvesti </button>
    </div>
    <div class="divider">
        <a class="btn btn-dark" href="{% url 'income_main' %}" role="button"> Atgal </a>
    </div>
</div>


    {% endblock %}