{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}

<div id="container">
<h5>PAJAMAVIMAS</h5>
<p></p>
<div></div>
<a class="btn btn-primary" href="{% url 'income_create' %}" role="button"> Pajamavimai </a>

<h1></h1>
<p></p>
<a class="btn btn-secondary" href="{% url 'income_product_create' %}" role="button"> Pajamuoti produktą </a>

</div>

    {% endblock %}